<section class="container-fluid fullscreen">
<section class="toolbar">
    <mat-form-field>

        <input matInput placeholder="Nazwa lub NIP" #input>

    </mat-form-field>

    <mat-form-field>

        <mat-select placeholder="Kolumny" [formControl]="displayedColumnsForm" [(value)]="displayedColumns" multiple>
            <mat-select-trigger>
              {{displayedColumnsForm.value ? displayedColumnsForm.value[0] : ''}}
              <span *ngIf="displayedColumnsForm.value?.length > 1" class="example-additional-selection">
                (+{{displayedColumnsForm.value.length - 1}} {{displayedColumnsForm.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let column of columns | keyvalue" [value]="column.key">{{column.value}}</mat-option>
        </mat-select>

    </mat-form-field>
    <aside class="right">
        <button mat-fab color="primary" [routerLink]="['add']"><i class="material-icons">add</i></button>
    </aside>
</section>

<app-table (dataSourceLength)="getDataSourceLength($event)" [searchTerm]="searchTerm" [displayedColumns]="displayedColumns"></app-table>

<router-outlet (activate)="componentAdded($event)" (deactivate)="componentRemoved($event)"></router-outlet>

</section>