<section class="container-fluid fullscreen">
<section class="toolbar">
    <mat-form-field>

        <input matInput placeholder="Nazwa lub NIP" #input>

    </mat-form-field>

    <mat-form-field>

        <mat-select placeholder="Kolumny" [formControl]="displayedColumnsForm" [(value)]="displayedColumns" multiple>
            <mat-select-trigger>
              {{displayedColumnsForm.value ? displayedColumnsForm.value[0] : ''}}
              <span *ngIf="displayedColumnsForm.value?.length > 1" class="example-additional-selection">
                (+{{displayedColumnsForm.value.length - 1}} {{displayedColumnsForm.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let column of columns | keyvalue" [value]="column.key">{{column.value}}</mat-option>
        </mat-select>

    </mat-form-field>
    <aside class="right">
        <button mat-fab color="primary" [routerLink]="['add']"><i class="material-icons">add</i></button>
    </aside>
</section>
<section class="content">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">

        <mat-spinner></mat-spinner>

    </div>

    <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> L.p. </th>
            <td mat-cell *matCellDef="let customer"> {{customer.id}} </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
            <td mat-cell *matCellDef="let customer"> {{customer.fullName}} </td>
        </ng-container>
        <ng-container matColumnDef="shortName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Krótka nazwa </th>
            <td mat-cell *matCellDef="let customer"> {{customer.shortName}} </td>
        </ng-container>
        <ng-container matColumnDef="nip">
            <th mat-header-cell *matHeaderCellDef> NIP </th>
            <td mat-cell *matCellDef="let customer"> {{customer.nip}} </td>
        </ng-container>
        <ng-container matColumnDef="regon">
            <th mat-header-cell *matHeaderCellDef> REGON </th>
            <td mat-cell *matCellDef="let customer"> {{customer.regon}} </td>
        </ng-container>
        <ng-container matColumnDef="addresscity">
            <th mat-header-cell *matHeaderCellDef> Miasto </th>
            <td mat-cell *matCellDef="let customer"> {{customer.addresscity}} </td>
        </ng-container>
        <ng-container matColumnDef="addresspostCode">
            <th mat-header-cell *matHeaderCellDef> Kod pocztowy </th>
            <td mat-cell *matCellDef="let customer"> {{customer.addresspostCode}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Adres </th>
            <td mat-cell *matCellDef="let customer"> 
                {{customer.addressstreet}} {{customer.addressbuildingNo}} 
                <span *ngIf="customer.addressapartmentNo"> lok. </span>
                {{customer.addressapartmentNo}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="employees">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Liczba pracowników </th>
            <td mat-cell *matCellDef="let customer"> {{customer.employees}} </td>
        </ng-container>
        <ng-container matColumnDef="policyCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Liczba polis </th>
            <td mat-cell *matCellDef="let customer"> {{customer.policyCount}} </td>
        </ng-container>
        <ng-container matColumnDef="policyFee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Suma składek polis </th>
            <td mat-cell *matCellDef="let customer"> {{customer.policyFee}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['details/', row.id]"></tr>

    </mat-table>
</section>

<section class="footer">
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="dataSource.total$ | async"></mat-paginator>
</section>

<router-outlet></router-outlet>

</section>