<section class="" *ngIf="(policyData$ | async) as data">
<h1 mat-dialog-title>Dane: {{data.results[0].number}}</h1>
<div mat-dialog-content class="row">
<mat-form-field class="col-xs-12 col-sm-6">
    <mat-label>Pełna nazwa</mat-label>
    <input matInput [(ngModel)]="data.results[0].fullName">
</mat-form-field>    
<mat-form-field class="col-xs-12 col-sm-6">
    <mat-label>Krótka nazwa</mat-label>
    <input matInput [(ngModel)]="data.results[0].shortName">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-3">
    <mat-label>Ulica</mat-label>
    <input matInput [(ngModel)]="data.results[0].addressstreet">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-2">
    <mat-label>Nr budynku</mat-label>
    <input matInput [(ngModel)]="data.results[0].addressbuildingNo">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-2">
    <mat-label>Nr lokalu</mat-label>
    <input matInput [(ngModel)]="data.results[0].addressapartmentNo">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-2">
    <mat-label>Kod pocztowy</mat-label>
    <input matInput [(ngModel)]="data.results[0].addresspostCode">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-3">
    <mat-label>Miasto</mat-label>
    <input matInput [(ngModel)]="data.results[0].addresscity">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-4">
    <mat-label>NIP</mat-label>
    <input matInput [(ngModel)]="data.results[0].nip">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-4">
    <mat-label>REGON</mat-label>
    <input matInput [(ngModel)]="data.results[0].regon">
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-4">
    <mat-label>Liczba pracowników</mat-label>
    <input matInput [(ngModel)]="data.results[0].employees">
  </mat-form-field>

  <app-table-generic tableTitle="Dane klienta" mainRoute="customers" [tableData]="customerDetails$" [tableColumns]="['id', 'fullName', 'addresscity']"></app-table-generic>
  <app-table-generic tableTitle="Pozostałe polisy" mainRoute="policies" [tableData]="customerPolicies$" [tableColumns]="['id', 'number', 'policyType', 'dateIssued', 'insurer']"></app-table-generic>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="updatePolicy(data.results[0])" cdkFocusInitial>Zapisz</button>
</div>
</section>